.link-hover {
  @apply hover:underline underline-offset-4 hover:text-neutral-100;
}

.link-underline {
  @apply underline underline-offset-4 decoration-neutral-400 hover:decoration-neutral-100 transition;
}

.button {
  @apply text-primary type-p border-2 border-current rounded-md px-6 py-2 hover:bg-primary hover:text-black transition-colors duration-300;
}

.link-box {
  position: relative;

  .link-overlay:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  a:not(.link-overlay) {
    position: relative;
    z-index: 2;
  }
}
