@import 'tailwindcss';

@theme {
  --font-sans: 'InterVariable', 'Inter', 'sans-serif';
  --color-primary: #00eacf;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .octagon {
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }

  .link-hover {
    @apply hover:underline underline-offset-4 hover:text-neutral-100;
  }

  .link-underline {
    @apply underline underline-offset-4 decoration-neutral-400 hover:decoration-neutral-100 transition;
  }

  .link-box {
    position: relative;

    .link-overlay:before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    a:not(.link-overlay) {
      position: relative;
      z-index: 2;
    }
  }
}
