---
import Logo from "../Logo.astro";
---

<header
  id="site-header"
  class="md:sticky top-[-2px] bg-black/20 backdrop-blur-lg w-screen my-spacing z-50"
>
  <div
    class="container flex flex-col md:flex-row items-center gap-8 h-20 text-center md:text-left"
  >
    <h1 class="logo">
      <span class="sr-only">WRUX.com</span>
      <Logo animated />
    </h1>
    <div aria-hidden class="h-0.5 bg-white flex-1 hidden md:block"></div>
    <h2 class="type-overline-sm">
      Front end engineer and Freelancer &bullet;
      <a href="mailto:callum@wrux.com" class="link"> Available for work</a>
    </h2>
  </div>
</header>

<style>
  #site-header {
    --logo-size: 2rem;

    &[stuck] {
      --logo-size: 1.625rem;
    }
  }

  .logo {
    transition: all 200ms ease-out;
    font-size: var(--logo-size);
  }
</style>

<script>
  const observer = new IntersectionObserver(
    ([e]) => {
      console.log('e.intersectionRatio', e.intersectionRatio);
      e.target.toggleAttribute('stuck', e.intersectionRatio < 1);
    },
    { threshold: [1] },
  );

  const header = document.getElementById('site-header');
  if (header) observer.observe(header);
</script>
