---
import Logo from "../Logo.astro";

const navigation = [
  {
    description: `My GitHub profile with various public repositories, including the  source
      code for <a href="https://github.com/wrux/website" target="_blank" rel="nofollow noreferer" class="link">this website<span class="sr-only"> (opens in new tab)</span></a> built with AstroJS and Tailwind.`,
    href: 'https://github.com/wrux',
    icon: 'github',
    name: 'Github',
    rel: 'nofollow noreferer',
    text: 'View my Github profile',
  },
  {
    href: 'https://www.linkedin.com/in/callum-bonnyman',
    icon: 'linkedin',
    name: 'LinkedIn',
    rel: 'nofollow noreferer',
    text: 'View my LinkedIn profile',
  },
  {
    href: 'https://www.instagram.com/etocallum/',
    icon: 'instagram',
    name: 'Instagram',
    rel: 'nofollow noreferer',
    text: 'Follow me on Instagram',
  },
  {
    description:
      'My travel blog of experiences from many countries all around the world. Sadly there has not been much to write about recently.',
    href: 'https://bloke.blog/',
    icon: 'blog',
    name: 'Blog',
    text: 'Check out my blog',
  },
  {
    href: 'https://perpetual.pizza/',
    icon: 'pizza',
    name: 'Perpetual Pizza',
    text: 'Check out Perpetual Pizza',
  },
];
---

<footer class="m-spacing">
  <div
    class="container flex flex-col items-center justify-between gap-8 md:flex-row md:gap-12 lg:gap-16"
  >
    <Logo className="text-step-1" />
    <nav aria-label="Footer navigation">
      <ul
        class="type-p flex flex-col gap-8 text-center md:flex-row md:flex-wrap"
      >
        {
          navigation.map((link) => (
            <li>
              <a
                href={link.href}
                target="_blank"
                rel="nofollow noreferer"
                class="link"
              >
                {link.name}
                <span class="sr-only">(opens in new tab)</span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>
