<section class="my-spacing bg-gray-900">
  <div
    class="container py-16 lg:py-24 xl:py-32 flex flex-col lg:flex-row justify-between items-start lg:items-end gap-16"
  >
    <div class="max-w-prose">
      <h2 class="type-h2 mb-8 fade-in">Contact Me</h2>
      <p class="type-h4 fade-in">
        Feel free to
        <a href="mailto:callum@wrux.com" class="link">contact me</a>
        to discuss freelance work opportunities. I am an experienced frontend
        developer with a proven track record of success. I am proficient in HTML,
        CSS, JavaScript, and React. I am available to work on a freelance basis.
      </p>
    </div>
    <a href="mailto:callum@wrux.com" class="button fade-in"
      >Get in contact</a
    >
  </div>
</section>
