---
import Section from "../Section.astro";
---

<Section>
  <div
    class="flex flex-col md:flex-row-reverse items-center gap-y-8 gap-x-16"
  >
    <figure class="flex-1">
      <img
        class="rounded-xl w-full"
        src="/assets/callum-bonnyman-street-optimised.jpg"
        sizes="(max-width: 767px) 10rem, 18rem"
        alt="Callum Bonnyman"
        width={704}
        height={1056}
      />
    </figure>
    <div class="flex-1">
      <h3 class="mb-4 leading-none type-h1">Callum Bonnyman</h3>
      <p class="mb-8 text-primary type-overline">Frontend Engineer</p>
      <div class="max-w-prose">
        <p class="type-h4">
          With a <strong>decade of experience</strong> working remotely as a web developer, my recent career trajectory has led me to specialise in frontend development. My passion is centred around constructing content-rich websites using technologies like <strong>React</strong>, <strong>Typescript</strong> and <strong>NextJS</strong> to build applications and design design systems, with a primary focus on delivering highly available, accessible, and exceptional user experiences.
        </p>
      </div>
    </div>
  </div>
</Section>
