---
import type { CollectionEntry } from 'astro:content';
import { Section } from '~/components';

export type Props = {
  jobs: CollectionEntry<'jobs'>[];
};

const { jobs } = Astro.props;
---

<Section title="Work Experience">
  <div class="grid gap-16 lg:gap-24">
    {
      jobs.map((job, index) => {
        const start = (new Date(job.data.tenure.from)).getFullYear();
        const end = job.data.tenure.to
          ? (new Date(job.data.tenure.to)).getFullYear()
          : 'Present'

        return (
          <article class="flex flex-col gap-2 fade-in-up">
            <span
              class="inline-block text-6xl md:text-8xl font-semibold leading-none"
              aria-hidden
            >
              {String(index + 1).padStart(2, '0')}.
            </span>
            <h3 class="type-h1">{job.data.title}</h3>
            <span class="type-h4 text-primary">
              <span class="sr-only">Tenure:</span> {[start, end].join(' - ')}
            </span>
            <span class="type-h4">
              {job.data.company} &bullet; {job.data.location}
            </span>
          </article>
        );
      })
    }
  </div>
</Section>
