---
import { getCollection } from 'astro:content';
import { Layout } from '~/layouts';
import IntroBlock from '~/components/blocks/IntroBlock.astro';
import WorkBlock from '~/components/blocks/WorkBlock.astro';
import ContactBlock from '~/components/blocks/ContactBlock.astro';
import ProjectsBlock from '~/components/blocks/ProjectsBlock.astro';
import SiteFooter from '~/components/layout/SiteFooter.astro';
import SiteHeader from '~/components/layout/SiteHeader.astro';

const allJobs = await getCollection('jobs');
const jobs = allJobs.sort((a, b) => (
  new Date(b.data.tenure.from).getTime() -
  new Date(a.data.tenure.from).getTime()
));

const allProjects = await getCollection('projects');
---

<Layout
  title="Callum Bonnyman, Frontend Eengineer | wrux.com"
  description="With a decade of experience working remotely as a web developer, my recent career trajectory has led me to specialise in frontend development. My passion is centred around constructing content-rich websites using technologies like <strong>React</strong>, <strong>Typescript</strong> and <strong>NextJS</strong> to build applications and design design systems, with a primary focus on delivering highly available, accessible, and exceptional user experiences."
>
  <SiteHeader />

  <main>
    <IntroBlock />
    <WorkBlock jobs={jobs} />
    <ContactBlock />
    <ProjectsBlock projects={allProjects} />
  </main>

  <SiteFooter />
</Layout>
