---
import { getCollection } from 'astro:content';
import { Layout } from '~/layouts';
import WorkBlock from '~/components/blocks/WorkBlock.astro';
import ContactBlock from '~/components/blocks/ContactBlock.astro';
import IntroBlock from '~/components/blocks/IntroBlock.astro';
import SiteFooter from '~/components/layout/SiteFooter.astro';
import SiteHeader from '~/components/layout/SiteHeader.astro';

const allJobs = await getCollection('jobs');
const jobs = allJobs.sort((a, b) => {
  // Order by tenure start
  return (
    new Date(b.data.tenure.from).getTime() -
    new Date(a.data.tenure.from).getTime()
  );
});

export const externalLinks: Array<Link> = [
  {
    description: `My GitHub profile with various public repositories, including the  source
      code for <a href="https://github.com/wrux/website" target="_blank" rel="nofollow noreferer" class="link">this website<span class="sr-only"> (opens in new tab)</span></a> built with AstroJS and Tailwind.`,
    href: 'https://github.com/wrux',
    icon: 'github',
    name: 'Github',
    rel: 'nofollow noreferer',
    text: 'View my Github profile',
  },
  {
    href: 'https://www.linkedin.com/in/callum-bonnyman',
    icon: 'linkedin',
    name: 'LinkedIn',
    rel: 'nofollow noreferer',
    text: 'View my LinkedIn profile',
  },
  {
    href: 'https://www.instagram.com/etocallum/',
    icon: 'instagram',
    name: 'Instagram',
    rel: 'nofollow noreferer',
    text: 'Follow me on Instagram',
  },
  {
    description:
      'My travel blog of experiences from many countries all around the world. Sadly there has not been much to write about recently.',
    href: 'https://bloke.blog/',
    icon: 'blog',
    name: 'Blog',
    text: 'Check out my blog',
  },
  {
    href: 'https://perpetual.pizza/',
    icon: 'pizza',
    name: 'Perpetual Pizza',
    text: 'Check out Perpetual Pizza',
  },
];
---

<Layout
  title="Callum Bonnyman, Frontend Eengineer | wrux.com"
  description="With a decade of experience working remotely as a web developer, my recent career trajectory has led me to specialise in frontend development. My passion is centred around constructing content-rich websites using technologies like <strong>React</strong>, <strong>Typescript</strong> and <strong>NextJS</strong> to build applications and design design systems, with a primary focus on delivering highly available, accessible, and exceptional user experiences."
>
  <SiteHeader />

  <main>
    <IntroBlock navigation={externalLinks} />
    <WorkBlock jobs={jobs} />
    <ContactBlock />
  </main>

  <SiteFooter navigation={externalLinks} />
</Layout>
