<div id="mc_embed_shell">
  <div id="mc_embed_signup">
    <form
      action="https://wrux.us21.list-manage.com/subscribe/post?u=6f9e3955b790437b2fbf69473&id=0b5e637548&f_id=00c659e1f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_self"
      novalidate=""
    >
      <div id="mc_embed_signup_scroll" class="space-y-3">
        <div class="mc-field-group">
          <label for="mce-EMAIL"
            >Email Address <span class="asterisk">*</span></label
          >
          <input
            type="email"
            name="EMAIL"
            class="required email"
            id="mce-EMAIL"
            required=""
            value=""
          />
          <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name</label>
          <input
            type="text"
            name="FNAME"
            class="text"
            id="mce-FNAME"
            value=""
          />
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name</label>
          <input
            type="text"
            name="LNAME"
            class="text"
            id="mce-LNAME"
            value=""
          />
        </div>
        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;">
          </div>
          <div
            class="response"
            id="mce-success-response"
            style="display: none;"
          >
          </div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input
            type="text"
            name="b_6f9e3955b790437b2fbf69473_0b5e637548"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="indicates-required">
          <span class="asterisk">*</span> indicates required
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button"
              value="Contact Us"
            />
            <p class="brandingLogo sr-only" style="margin: 0px auto;">
              <a
                href="http://eepurl.com/it8-9k"
                title="Mailchimp - email marketing made easy and fun"
                ><img
                  src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_light_dtp.svg"
                  alt="referral badge"
                /></a
              >
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<style type="text/css" scoped>
  .indicates-required {
    @apply c-p-sm;

    text-align: right;
    font-size: 0.8em;
  }

  .asterisk {
    @apply text-red-500;
  }

  .mc-field-group {
    @apply space-y-2;
  }

  .foot {
    @apply mt-8;

    text-align: right;
  }

  label {
    @apply c-p;

    display: block;
  }

  #mc_embed_signup div.mce_inline_error {
    @apply c-p-sm;

    display: inline-block !important;
    margin-top: 0.5rem !important;
    background-color: red !important;
  }

  input[type='email'],
  input[type='text'] {
    @apply c-p rounded-md text-dark;

    display: block;
    width: 100%;
    padding: 0.5em 1em;
  }

  input[type='submit'] {
    @apply c-p rounded-md bg-primary text-black transition-colors hover:bg-black hover:text-white;

    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 600;
  }
</style>
