---
import Icon from '../components/Icon.astro';

export interface Props {
  className?: string;
  href: string;
  newTab?: boolean;
}

const { className, href, newTab = false } = Astro.props;
---

<a
  target={newTab ? '_blank' : '_self'}
  rel="nofollow noreferer"
  class:list={['external-link', className]}
  href={href}
>
  <slot />
  {newTab && <span class="sr-only">(opens in new tab)</span>}
  <div class="external-link__indicator" aria-hidden="true">
    <Icon name="chevron" className="external-link__icon" />
    <Icon name="chevron" className="external-link__icon" />
  </div>
</a>

<style scoped>
  .external-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    cursor: pointer;
    font-size: theme('fontSize.step--1');
    font-weight: theme('fontWeight.semibold');
    color: theme(colors.secondary);
    transition: all 333ms ease-in-out;

    &__indicator {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      width: 1em;
      height: 1em;
      border-radius: 100%;
      color: currentColor;
    }

    &__icon {
      flex: 1 0 auto;
      display: block;
      width: 1em;
      height: 1em;
      transition: all 333ms ease-out;

      &:first-of-type {
        opacity: 0;
        transform: translateX(50%);
      }
    }

    &:hover,
    &:focus {
      color: theme(colors.dark);

      .external-link__icon {
        &:first-of-type,
        &:first-of-type {
          opacity: 1;
          transform: translateX(100%);
        }

        &:last-of-type,
        &:last-of-type {
          opacity: 1;
          transform: translateX(33%);
        }
      }
    }
  }
</style>
