---
import { Paragraph } from 'components';

export interface Props {
  jobs: Array<Job>;
}

const { jobs } = Astro.props;
---

<div class="flex flex-col gap-16">
  {
    jobs.map((job, index) => (
      <article class="space-y-4 text-left md:space-y-2">
        <Paragraph
          className="flex flex-col items-start gap-2 md:flex-row md:items-center"
          as="h3"
          textStyle={index === 0 ? 'h3' : 'h4'}
        >
          <span>{job.title}</span>
          <span class="hidden h-[1px] flex-1 border-b border-b-current md:block" />
          <span class="text-main">
            <span class="sr-only">Tenure:</span> {job.tenure}
          </span>
        </Paragraph>
        <div class="flex flex-col justify-between gap-x-8 gap-y-4 lg:flex-row">
          <Paragraph
            className="flex gap-1 align-baseline"
            textStyle={index === 0 ? 'p' : 'p-sm'}
          >
            <svg viewBox="0 0 24 24" class="h-[1em] w-[1em] translate-y-1/4">
              <path
                fill="currentColor"
                d="M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z"
              />
            </svg>
            {job.company}
          </Paragraph>
          <Paragraph
            className="flex gap-1 align-baseline"
            textStyle={index === 0 ? 'p' : 'p-sm'}
          >
            <svg viewBox="0 0 24 24" class="h-[1em] w-[1em] translate-y-1/4">
              <path
                fill="currentColor"
                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"
              />
            </svg>
            {job.location}
          </Paragraph>
        </div>
      </article>
    ))
  }
</div>
