---
import { Icon } from 'astro-icon';
import { Paragraph } from 'components';

export interface Props {
  jobs: Array<Job>;
}

const { jobs } = Astro.props;
---

<div class="flex flex-col gap-16">
  {
    jobs.map((job, index) => (
      <article class="space-y-4 text-left md:space-y-2">
        <Paragraph
          className="flex flex-col items-start gap-2 md:flex-row md:items-center"
          as="h3"
          textStyle={index === 0 ? 'h3' : 'h4'}
        >
          <span>{job.title}</span>
          <span class="hidden h-[1px] flex-1 border-b border-b-white md:block" />
          <span class="text-primary">
            <span class="sr-only">Tenure:</span> {job.tenure}
          </span>
        </Paragraph>
        <div class="flex flex-col gap-x-8 gap-y-4 lg:flex-row">
          <Paragraph
            className="flex gap-1 align-baseline"
            textStyle={index === 0 ? 'p' : 'p-sm'}
          >
            <Icon
              class="h-[1em] w-[1em] translate-y-1/4"
              name="ic:outline-business"
            />
            {job.company}
          </Paragraph>
          <Paragraph
            className="flex gap-1 align-baseline"
            textStyle={index === 0 ? 'p' : 'p-sm'}
          >
            <Icon
              class="h-[1em] w-[1em] translate-y-1/4"
              name="ic:baseline-place"
            />
            {job.location}
          </Paragraph>
        </div>
      </article>
    ))
  }
</div>
