---
export interface Props {
  subtitle?: string;
  title?: string;
}

const { subtitle, title } = Astro.props;
---

<section
  class="container mx-auto my-spacing space-y-8 lg:space-y-12 xl:space-y-16"
>
  <div>
    {title && <h2 class="type-h4 fade-in">{title}</h2>}
    {subtitle && <p class="type-p fade-in text-primary">{subtitle}</p>}
  </div>
  <div>
    <slot />
  </div>
</section>
