---
export interface Props {
  title?: string
}

const { title } = Astro.props;
---


<section class="container mx-auto my-spacing space-y-8 lg:space-y-12 xl:space-y-16">
  {title && <h2 class="c-h4">
    {title}
  </h2>}
  <div>
    <slot />
  </div>
</section>
