---
import { Logo } from 'components';
---

<header class="m-spacing-sm">
  <div class="container flex flex-col items-center justify-center">
    <Logo className="text-step-1 text-dark dark:text-primary" />
  </div>
</header>
