---
import { Logo } from 'components';
import { links } from 'data';
---

<footer class="my-spacing">
  <div
    class="container mx-auto flex max-w-7xl flex-col items-center justify-between gap-8 md:flex-row md:gap-12 lg:gap-16"
  >
    <Logo className="text-step-1" />
    <nav aria-label="Footer navigation">
      <ul class="c-p flex flex-col gap-8 text-center md:flex-row md:flex-wrap">
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                target="_blank"
                rel="nofollow noreferer"
                class="link"
              >
                {link.name}
                <span class="sr-only">(opens in new tab)</span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>
