---
import { Logo } from 'components';
---

<header class="m-spacing-sm">
  <div class="container mx-auto flex flex-col items-center justify-center">
    <Logo className="text-step-1 text-primary" />
  </div>
</header>
