@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --timeline-color: #fff;
  --timeline-line-width: 0.5rem;
  --timeline-element-width: 1.5rem;
  --timeline-element-border: 0.25rem;
}

@layer base {
  body {
    background-color: theme(colors.offwhite);
  }

  :focus {
    box-shadow: none;
    outline: 0.0625rem dashed;
    outline-color: theme(colors.primary);
    outline-offset: 0.125rem;
  }
}

@layer components {
  .layout {
    display: grid;
    grid-template-columns: 4fr 8fr;
    column-gap: 3rem;
    overflow: hidden;
  }

  .layout__heading {
    @apply c-h2 md:text-right;

    position: sticky;
    top: theme(spacing.4);
    line-height: 1;
    z-index: 200;
  }

  .logo {
    height: 1em;
    width: 4.1842105263em;
  }

  .external-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    font-size: theme('fontSize.step--1');
    font-weight: theme('fontWeight.semibold');
    color: theme(colors.secondary);
    transition: all 333ms ease-in-out;
  }

  .external-link__indicator {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    width: 1em;
    height: 1em;
    /* outline: 2px solid theme(colors.dark); */
    /* background-color: theme(colors.secondary); */
    border-radius: 100%;
    color: currentColor;
  }

  .external-link__indicator svg {
    flex: 1 0 auto;
    display: block;
    width: 1em;
    height: 1em;
    transition: transform 333ms ease-out;
    /* outline: 1px solid blue; */
    /* transform: rotate(-45deg); */
  }

  .external-link:hover,
  .external-link:focus {
    /* border-color: theme(colors.secondary); */
    color: theme(colors.dark);
  }

  .external-link:hover svg,
  .external-link:focus svg {
    /* transform: translateX(100%) rotate(-45deg); */
    transform: translateX(100%);
  }
}

@layer utilities {
  .panel {
    padding-block: min(16rem, 10vw);
  }

  .panel--dark {
    background-color: theme(colors.dark);
    color: white;
  }

  .panel--secondary {
    background-color: theme(colors.secondary);
    color: white;
  }

  .panel--offwhite {
    background-color: theme(colors.offwhite);
    color: theme(colors.dark);
  }

  .wrapper {
    @apply px-4 md:px-6 lg:px-8;
  }

  .icon {
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}

[data-work-item] {
  transform-origin: top left;
}

@layer components {
  .job__heading {
    position: relative;
  }

  .job__heading:before {
    position: absolute;
    top: 50%;
    right: calc(
      100% + var(--timeline-element-width) + var(--timeline-line-width)
    );
    display: block;
    width: var(--timeline-element-width);
    height: var(--timeline-element-width);
    border-radius: 50%;
    background-color: var(--timeline-color);
    border: var(--timeline-element-border) solid theme(colors.secondary);
    outline: 2px solid var(--timeline-color);
    z-index: 100;
    content: '';
    transform: translateY(-50%);
  }

  /**
    * Insert something over the top of the last job point in the timeline with the
    * same colour as the background to hide the fact that the timeline does not stop at the last item
     */
  .job:last-of-type .job__heading:after {
    position: absolute;
    top: calc(100% - var(--timeline-element-width));
    right: 100%;
    display: block;
    width: 100%;
    height: 100vh;
    background: theme(colors.secondary);
    content: '';
    z-index: 50;
  }

  .job-stack {
    position: relative;
  }

  .job-stack__timeline {
    width: 3rem;
  }

  .job-stack__line {
    flex: 1;
    position: relative;
    top: 1rem;
    left: 0;
    display: block;
    height: 100%;
    width: var(--timeline-line-width);
    border-radius: 9999px;
    content: '';
    background-color: var(--timeline-color);
  }
}
