---
import '@fontsource/inter/variable.css';

export interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      defer
      data-domain="wrux.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>
  <body class="bg-offwhite">
    <slot />
  </body>
  <svg width="0" height="0" class="hidden">
    <symbol viewBox="0 0 256 256" id="chevron">
      <rect width="256" height="256" fill="none"></rect>
      <polyline
        points="96 48 176 128 96 208"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"></polyline>
    </symbol>
  </svg>
</html>

<style is:global>
  .link {
    color: theme(colors.secondary);
    text-decoration: underline;
    text-underline-position: under;

    &:hover,
    &:focus {
      color: theme(colors.dark);
      text-decoration: none;
    }
  }
</style>
