---
import '@fontsource-variable/inter';

export interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      defer
      data-api="/stats/api/event"
      data-domain="wrux.com"
      src="/stats/js/script.js"
    ></script>
    <script src="https://cdn.usefathom.com/script.js" data-site="HIFDIEQG" defer
    ></script>
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
      defer
    ></script>
  </head>
  <body class="text-white bg-black">
    <slot />
  </body>
</html>

<style is:global>
  .link {
    @apply text-primary underline decoration-current underline-offset-4 transition-colors hover:text-white hover:decoration-transparent;
  }
</style>
