---
import '@fontsource-variable/inter';

export interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      defer
      data-api="/stats/api/event"
      data-domain="wrux.com"
      src="/stats/js/script.js"
    ></script>
    <script src="https://cdn.usefathom.com/script.js" data-site="HIFDIEQG" defer
    ></script>
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
      defer
    ></script>
    <script type="module" src="src/components/ToggleTheme.ts"></script>
  </head>
  <body>
    <toggle-theme class="absolute right-4 top-4 mb-8"></toggle-theme>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --body-bg: white;
    --body-text: theme(colors.dark);

    --highlight-main: theme(colors.secondary);
    --highlight-accent: theme(colors.primary);
    --highlight-background: theme(colors.gray.100);
  }

  html.dark {
    --body-bg: black;
    --body-text: white;

    --highlight-main: theme(colors.primary);
    --highlight-accent: theme(colors.secondary);
    --highlight-background: theme(colors.dark);
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--body-bg);
    color: var(--body-text);
  }

  .link {
    @apply text-main underline decoration-current underline-offset-4 transition-colors hover:decoration-transparent;
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
  })();

  document.documentElement.classList.toggle('dark', theme === 'dark');
  window.localStorage.setItem('theme', theme);
</script>
