---
const { as: As = 'div', className, sideClassName, mainClassName } = Astro.props;
---

<As class:list={['layout', className]}>
  <div class:list={['layout__side', sideClassName]}>
    <slot name="side" />
  </div>
  <div class:list={['layout__main', mainClassName]}>
    <slot name="main" />
  </div>
</As>

<style scoped>
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3rem;
    overflow: hidden;
  }

  @screen md {
    .layout {
      grid-template-columns: 4fr 8fr;
    }
  }
</style>
